registry="${REGISTRY__READ__URL}"
//${REGISTRY__READ__URL__NO_SCHEME}:_auth="${REGISTRY__READ__AUTH}"
//${REGISTRY__READ__URL__NO_SCHEME}:_authToken="${REGISTRY__READ__AUTH_TOKEN}"
//${REGISTRY__READ__URL__NO_SCHEME}:email="${REGISTRY__READ__EMAIL}"

@${REGISTRY__PUBLISHING__SCOPE}:registry="${REGISTRY__PUBLISHING__URL}"
//${REGISTRY__PUBLISHING__URL__NO_SCHEME}:_auth="${REGISTRY__PUBLISHING__AUTH}"
//${REGISTRY__PUBLISHING__URL__NO_SCHEME}:_authToken="${REGISTRY__PUBLISHING__AUTH_TOKEN}"
//${REGISTRY__PUBLISHING__URL__NO_SCHEME}:email="${REGISTRY__PUBLISHING__EMAIL}"
